/* ====================================================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --poppins: "Poppins", sans-serif;
    --backgorund_color: #1C1E53;
    --blue_color: #2405F2;
    --font_color: #282938;
    --white_color: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
img{
    vertical-align: middle;
}
h1,h2,h3,h4,h5,h6,p,a,div,span,ul,ol{
    margin: 0;
    padding: 0;
}
/* ====================================================== */

/* ======================================================
                     Nav Bar Part
========================================================= */

.nav__head{
    background: var(--backgorund_color);
    padding: 16px 0;
}

.nav__items{
    color: #BBBBCB !important;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
}

.items--nav{
    color: var(--white_color) !important;
}

.nav__item{
    column-gap: 22px;
}

.nav__item{
    padding-left: 430px;
}

.nav__btn{
    color: var(--white_color);
    width: 185px;
    height: 60px;
    border-radius: 41px;
    border: 2px solid #F4F6FC33;
    background: transparent;
    font-family: var(--white_color);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    -webkit-border-radius: 41px;
    -moz-border-radius: 41px;
    -ms-border-radius: 41px;
    -o-border-radius: 41px;
    transition-duration: 0.25s;
}

.nav__btn:hover{
    background: #ffff00;
    color: var(--backgorund_color);
    border: 2px solid #ffff00;
}

/* ======================================================
                     Nav Bar End
========================================================= */
/* ======================================================
                     Banner Bar Part
========================================================= */

#footer__bg{
    background: var(--backgorund_color);
    padding: 126px 0;
}

.footerOne__title{
    color: var(--white_color);
    width: 582px;
    font-family: var(--poppins);
    font-size: 54px;
    font-weight: 600;
    line-height: 74px;
    letter-spacing: 0em;
    text-align: left;
}

.footerOne__text{
    width: 562px;
    color: var(--white_color);
    opacity: 0.7;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

.footer__btn{
    color: var(--backgorund_color);
    background: #FCD980;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    height: 64px;
    border-radius: 41px;
    -webkit-border-radius: 41px;
    -moz-border-radius: 41px;
    -ms-border-radius: 41px;
    -o-border-radius: 41px;
    border: none;
}

.footer__icon{
    color: var(--white_color);
    font-family: var(--white_color);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
}

.footer__icones{
    padding-left: 10px;
    vertical-align: middle;
    font-size: 17px;
}


/* ======================================================
                     Banner Bar Part
========================================================= */
/* ======================================================
                     Work Bar Part
========================================================= */

#work__bg{
    padding: 128px 0;
    background: #F4F6FC;
}

.workLeft__title{
    color: var(--font_color);
    font-family: var(--poppins);
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
}

.workLeft__text{
    max-width: 405px;
    color: var(--font_color);
    opacity: 0.7;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

.workLeft__icon{
    color: #2405F2;
    font-family: var(--poppins);
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

.workLeft__icons{
    vertical-align: middle;
    padding-left: 7px;
    font-size: 16px;
    font-weight: 900;
}

.workRight__title{
    color: var(--font_color);
    font-family: var(--poppins);
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
}

.workRight__text{
    color: var(--font_color);
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 0.7;
}

/* ======================================================
                     Work Bar Part
========================================================= */
/* ======================================================
                     Work Bar Part
========================================================= */

#view__bg{
    background: var(--white_color);
    padding: 128px 0;
}

.viewFristHead__title{
    color: var(--font_color);
    font-family: var(--poppins);
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
}

.viewFristHead__icon{
    color: var(--font_color);
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
}

.viewFristHead__icons{
    padding-left: 8px;
    font-size: 16px;
    font-weight: 900;
}

.viewCard__img{
    margin-top: -4%;
    position: relative;
    overflow: hidden;
}

.viewrightOver__one{
    position: absolute;
    top: -101%;
    left: 0;
    height: 100%;
    max-width: 100%;
    width: 100%;
    background: linear-gradient(329.39deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    transition: all 0.60s ease-out;
    -webkit-transition: all 0.60s ease-out;
    -moz-transition: all 0.60s ease-out;
    -ms-transition: all 0.60s ease-out;
    -o-transition: all 0.60s ease-out;
}

.viewCard__img:hover .viewrightOver__one{
    top: 0;
    right: 0;
}

.view__img{
    position: relative;
}

.view__overlay{
    position: absolute;
    transition: all 0.60s ease-out;
    top: 0;
    left: -47%;
    max-width: 396px;
    height: 100%;
    background: linear-gradient(329.39deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    -webkit-transition: all 0.60s ease-out;
    -moz-transition: all 0.60s ease-out;
    -ms-transition: all 0.60s ease-out;
    -o-transition: all 0.60s ease-out;
}

.viewOver__head{
    padding: 310px 0 0 48px;
}

.viewOver__title{
    color: var(--white_color);
    font-family: var(--poppins);
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
}

.viewOver__text{
    color: var(--white_color);
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
}

.viewOver__icon{
    color: #FCD980;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    transition-duration: 0.10s;
}

.viewOver__icon:hover{
    color: var(--white_color);
}

.view__img:hover .view__overlay{
    top: 0;
    left: 0;
}

.viewrightOne__head{
    padding: 129px 0 0 56px;
}

.viewRightOne__title{
    width: 280px;
    color: var(--white_color);
    font-family: var(--poppins);
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}

.viewRightOne__icone{
    color: #FCD980;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    transition-duration: 0.10s;
}

.viewRightOne__icons{
    padding-left: 10px;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 900;
}

.viewRightOne__icone:hover{
    color: var(--white_color);
}

.viewOver__icons{
    vertical-align: middle;
    font-size: 16px;
    font-weight: 900;
    padding-left: 10px;
}

.viewCard__imgs{
    margin-top: 10%;
    position: relative;
    overflow: hidden;
}

.viewRightwo__two{
    position: absolute;
    top: 0;
    right: -102%;
    width: 100%;
    height: 100%;
    background: linear-gradient(329.39deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    transition: all 0.60s ease-out;
    -webkit-transition: all 0.60s ease-out;
    -moz-transition: all 0.60s ease-out;
    -ms-transition: all 0.60s ease-out;
    -o-transition: all 0.60s ease-out;
}

.viewCard__imgs:hover .viewRightwo__two{
    right: 0;
}

/* ======================================================
                     Work Bar Part
========================================================= */