/* ================= Large Device ================== */

@media (max-width: 1199.98px) {
/* ================= Nav Bar Part ================= */
    .nav__item {
    padding-left: 0;
    margin-right: 20px;
    }

    .collapse{
        justify-content: end;
    }
/* ================= Nav Bar Part ================= */

/* ================= Footer Bar Part ================= */

    #footter__bg {
        padding: 50px 0;
    }

    .footerOne__title {
    color: var(--white_color);
    width: 490px;
    font-family: var(--poppins);
    font-size: 46px;
    font-weight: 600;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: left;
    }

    .footerOne__text {
        width: 436px;
        padding-top: 20px;
        color: var(--white_color);
        opacity: 0.7;
        font-family: var(--poppins);
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
    }

    .footerLeft__heads{
        margin-top: -10px;
    }
/* ================= Footer Bar Part ================= */

/* ================= Work Bar Part ================= */
    .workLeft__title {
        font-size: 44px;
        font-weight: 700;
    }

    .workLeft__text {
        width: 401px;
        line-height: 25px;
    }

    .workLeft__icon {
        padding-top: 10px;
    }

    .wordRight__head{
        text-align: center;
    }

    .workRight__title{
        text-align: center;
    }

    .workRight__text {
        text-align: center;
        line-height: 21px;
    }
/* ================= Work Bar Part ================= */
    #view__bg {
    padding: 50px 0;
    }

    .view__overlay {
        left: -66%;
    }

    #future__bg {
        padding: 50px 0;
    }

    .futureTop__title {
        margin-top: 10px;
        font-size: 41px;
    }

    .future__bottom {
        height: 330px;
    }

    .futureBottom__text {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }

    #about__bg {
        padding: 50px 0;
    }

    .aboutLeft_title {
        padding-bottom: 10px;
        font-size: 30px;
        line-height: 33px;
    }

    .aboutRight__title {
        font-size: 28px;
        line-height: 41px;
    }

    .aboutBottom__title {
        font-size: 20px;
        line-height: 22px;
    }
    
    .aboutBottom__text {
        font-size: 11px;
        font-weight: 500;
    }

    #accord__bg {
        padding: 50px 0;
    }

    .accordLeft__title {
        font-size: 33px;
        line-height: 42px;
    }

    .accordLeft__text {
        margin-top: 10px;
    }

    .accordion-button::after {
        height: 0% !important;
        padding-left: 10px;
    }

    #web__bg {
        margin-bottom: 50px;
    }

    .web__right {
        padding-top: 10px;
    }

    .webRight__text {
        margin-top: -8px;
        width: 254px;
        font-size: 12px;
        line-height: 18px;
    }

    .webRight__btn {
        margin-top: -20px;
    }

    .webRight__icon {
        margin-top: -10px;
    }

    .webRight__name::placeholder{
        font-size: 13px;
    }

    .webRight__name {
        height: 60px;
    }

    #our__bg {
        padding-bottom: 50px;
    }

    .viewCard__img {
        margin-top: 0%;
    }

    .viewCard__imgs {
        margin-top: 4px;
    }

    .future__bottom {
       padding: 27px 0 48px 21px;
    }

    .accordLast__item {
        max-width: 547px;
        font-size: 14px;
        line-height: 22px;
    }

    .accord__item {
        padding: 5px 0;
        font-size: 22px;
    }

    .item-accordLast {
        padding-top: 15px;
    }

    .webLest__overlay {
        padding: 80px 0 0 70px;
    }

    .webLeft__title {
        max-width: 404px;
        font-size: 51px;
        line-height: 60px;
    }

    .webLeft__text {
        margin-top: 21px;
        max-width: 401px;
        font-size: 15px;
        line-height: 23px;
    }

    .our__title {
        font-size: 25px;
        line-height: 30px;
        text-align: center;
    }

    .our__text {
        margin-top: 10px;
        font-size: 11px;
        line-height: 19px;
    }

    .our__head{
        text-align: center;
    }

    .our__date{
        text-align: center;
    }

    #footer__bg {
        padding-top: 40px;
    }

    .footerLeft__text {
        margin-top: 5px;
        line-height: 22px;
    }

    .footerRight__text {
        margin-top: 10px;
        font-size: 14px;
        line-height: 24px;
    }

    .footerLeft__email {
        padding: 13px 0 13px 0px;
    }

    .foterLest__number {
        margin-top: -5px;
    }

    #footersecound__bg {
        padding: 5px 0;
    }

    .footerLeft__head {
        margin-top: 62px;
    }

    .footer__left{
        margin-top: 17px;
    }
}

/* ================= Large Device ================== */